@model WebApplication1.Models.Img

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ลบ</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.img_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img_category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img_category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img_url)
        </dt>

        <dd>
            <img src=@Url.Content("~/img/" + (Model.img_url)) style="width: 100px;height: auto" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img_date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("ย้อนกลับ", "MyGallery")
        </div>
    }
</div>
