@model WebApplication1.Models.CommentViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ข้อมูลรูป</h2>

<p>
    @Html.ActionLink("ย้อนกลับ", "Index")
</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อรูป
        </dt>

        <dd>
            @Model.img.img_name
        </dd>

        <dt>
            คำอธิบาย
        </dt>

        <dd>
            @Model.img.img_description
        </dd>

        <dt>
            หมวดหมู่
        </dt>

        <dd>
            @Model.img.img_category
        </dd>

        <dt>
            เจ้าของ
        </dt>

        <dd>
            @Model.img.UserName
        </dd>

        <dt>
            รูป
        </dt>

        <dd>
            <img src=@Url.Content("~/img/" + (@Model.img.img_url)) style="width: auto;height: auto" />
        </dd>

        <dt>
            วันที่อัพโหลด
        </dt>

        <dd>
            @Model.img.img_date
        </dd>
    </dl>
</div>

@using (Html.BeginForm("Comment", "Home", FormMethod.Post))
{
    @Html.Hidden("img_id", Model.img.img_id);
<div style="display:flex">
    <h5 style="font-weight:bold; margin:10px;">Comment </h5>
    <input type="text" name="comment">
    <button type="submit">ส่ง</button>
</div>
}
@foreach (var CM in Model.comments)
            {
                <div>
                    <h5 style="font-weight:bold">@CM.UserName</h5>
                    <h6>@CM.comment1</h6>
                </div>
            }