@model IEnumerable<WebApplication1.Models.Img>
@{
    ViewBag.Title = "Home Page";
}
<h2> Gallery </h2>
<div class="container">
    <div class="row text-right">
        @Html.ActionLink("เรียง", "Index", new { sortImg = ViewBag.ImgSortParm }, new { @class = "btn btn-default" })
        @using ((Html.BeginForm()))
        {
            @Html.TextBox("SearchString", null, new { @placeholder = "ค้นหา" })
            <input type="submit" class="btn btn-info" value="Search" />
        }
    </div>
</div>
@for (var i = 1; i <= Model.ToList().Count(); i++)
{
    var indexItem = i - 1;
    if (i == 1 || i % 4 == 1)
    {

        @:<div class="row">
        }
        <div class="col-md-3">
            <div class="thumbnail">

                <a href="#" onclick="navigateToDetails(@Model.ElementAt(indexItem).img_id)">

                    <img class="img-responsive" style="width: 70%;" src="@Url.Content("~/img/" + (Model.ElementAt(indexItem).img_url))" />

                </a>
                <div class="caption">
                    <h6>
                        @Model.ElementAt(indexItem).UserName
                    </h6>
                    <h2>
                        @Model.ElementAt(indexItem).img_name
                    </h2>
                    <h4>
                        @Model.ElementAt(indexItem).img_description
                    </h4>



                </div>
            </div>
        </div>

        if (i % 4 == 0)
        {
        @:</div>
    }

}
<script>
    function navigateToDetails(imgid) {
        window.location.href = '@Url.Action("Details", "Home")/' + imgid;
    }
</script>